

*{
    background-color: whitesmoke;

}

.container{
    border: solid 2px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 300px;
    width: 30%;
    height: 500px;
}

.buttonwala{
    border: 2px solid;
    color: black;
    background-color: aqua;
    align-items: center;
    border-radius: 10px;
}